.botao {
    position: relative;
    text-align: center;
}

.botao--estilo {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--verde);
    width: 30%;
    padding: 0.75rem 0;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px var(--preto);
    color: var(--branco);
    margin: 0 10px;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 25%;
}

.botao:hover {
    cursor: pointer;
}

.botao__link {
    display: flex;
    margin-top: 1.3rem;
    color: var(--branco);
    align-items: center;
}

.botao--tarefa {
    font: inherit;
    width: 200px;
    background: tomato;
    padding: 10px;
    border-radius: 8px;
    border-style: dashed;
}

/*Botão timer*/
.botao__iniciar {
    margin-top: 1rem;
    background-color: var(--verde);
    box-shadow: #0a5b12 0px 6px 0px;
    border-radius: 8px;
    width: 50%;
    transition: transform 200ms, box-shadow 200ms;
}

.botao__parar {
    transform: translateY(6px);
    background-color: #db332d;
    box-shadow: #0a5b12 0px 0px 0px;
}

/*Botões da tabela*/
.botao__tabela--estilo {
    border: none;
    color: var(--preto);
    cursor: pointer;
    height: 30px;
    width: 30px;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.botao__tabela--estilo.deletar {
    background-color: var(--vermelho);
}

.botao__tabela--estilo.alterar {
    background-color: var(--amarelo);
}

.botao__tabela--estilo.concluir {
    background-color: var(--verde);
}

.modal--confirma {
    background-color: var(--verde);
}

.modal--cancela {
    background-color: var(--vermelho);
}