.card__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.card__timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 8px;
    width: 100%;
}

.timer--tempo {
    font-size: 5rem;
    margin-bottom: 12px;
}

.card__tarefas {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 8px;
    width: 60%;
}

.card__botoes {

}

.card__central {
    margin: 0.5rem;
    border-radius: 50%;
    background-color: #DC2F02;
    width: 450px;
    height: 450px
}

.glass-effect {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* From https://css.glass */
    /*background: rgba(255, 255, 255, 0.2);*/
    border-radius: 50%;
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    /*backdrop-filter: blur(5px);*/

    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(5px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.2);
    /*border-radius: 12px;*/
    border: 1px solid rgba(255, 255, 255, 0.125);

    /*background: linear-gradient(129.89deg, rgba(177, 208, 180, 0.167) 7.25%, rgba(255, 255, 255, 0.15364) 32.58%, rgba(255, 255, 255, 0.0730118) 63.13%, rgba(255, 255, 255, 0.0167) 91.07%);*/
    /*box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);*/
    /*backdrop-filter: blur(40px);*/

    /*-webkit-backdrop-filter: blur(5px);*/
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    width: 450px;
    height: 450px
}