.card__grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
}

.side__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.center__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.card__timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 8px;
    width: 100%;
}

.timer--tempo {
    font-size: 5rem;
    margin-bottom: 12px;
}

.card__tarefas {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 8px;
    width: 60%;
}

.card__botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.card__central {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: var(--vermelho);
    width: 70%;
    height: 0;
    padding-bottom: 70%;
}

.card__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer_conteudo {
    text-align: center;
    width: 100%;
    margin-top: 100%;
}

@media screen and (min-width: 768px) {
    .timer--tempo {
        font-size: 3rem;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .timer--tempo {
        font-size: 4rem;
        margin-bottom: 12px;
    }
}