.formulario--tamanho {
    width: 420px;
    background-color: var(--vermelho);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario--senha {
    font-size: var(--tamanho-pequeno);
    color: var(--cinza);
    margin-bottom: 1.2rem
}

ul li:before {
    content: '✓';
}

@media screen and (min-width: 768px) {
    .titulo--destaque {
        font-size: 2.25rem;
    }

    .titulo {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .titulo--destaque {
        font-size: 3.25rem;
    }

    .titulo {
        font-size: 2.25rem;
    }
}