.input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    width: 100%;
    border: 2px solid var(--cinza);
    padding: 1rem;

    box-sizing: border-box;
    margin-bottom: 1.2rem;
    border-radius: 8px;
}

.input:focus {
    outline: transparent;
    border: 2px solid var(--preto);
}

.input__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.input__avatar input {
    display: none;
}

.input--image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.input--image:hover {
    cursor: pointer;
}