.label {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    display: none;
    /*overflow: hidden;*/
    text-decoration: transparent;
    white-space: nowrap;
    border-width: 0;
}