.notificacao--estilo {
    padding: 5px;
    border-radius: 8px;
    width: 420px;
    height: 45px;
    margin: 8px;
    display: flex;
    align-items: center
}

.notificacao--estilo > svg {
    margin: 0 10px;
}

.erro {
    background: #ff4646;
}

.sucesso {
    background: #0c9800;
}