.tabela__tarefas {
    width: 300px;
    display: flex;
    justify-content: space-between;
    background: tomato;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    align-items: center;
}

.tabela__tarefas td:nth-child(2) {
    display: none;
}

.tabela__tarefas input {
    margin-right: 8px
}

.tabela--detalhes {
    display: flex;
    align-items: center;
}

.tabela--botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}