:root {
    --verde-fundo: rgba(13, 140, 26, 0.24);
    --vermelho-tomate: #EDBDA1;
    --post-it: #E5DA96;
    --amarelo: #f8b500;
    --verde: #0D8C1A;
    --branco: #eceeff;
    --vermelho: #c4030e;
    --cinza: #909090;
    --preto: #202020;

    --familia-corpo: "Rubik", sans-serif;

    --peso-titulo-destaque: 700;
    --peso-destaque: 400;
    --peso-normal: 300;

    --tamanho-pequeno: 0.85rem;
    --tamanho-corpo: 1rem;
    --tamanho-titulo: 1.375rem;
    --tamanho-titulo-destaque: 2rem;
    --tamanho-destaque: 1.375rem;
}