@import url(_variaveis.css);
@import url(_reset.css);

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--preto);

    background: var(--verde-fundo);
}

.dashboard__body {
    background: var(--vermelho-tomate);
}

.container {
    padding: 1rem 1rem;
}

.container--centro {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
}

.titulo {
    font-size: var(--tamanho-titulo);
    margin-bottom: 1rem;
}

.titulo--destaque {
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    display: block;

    margin: 0 0.75rem;
}

.logo {
    color: var(--verde);
}

.titulo--secundario {
    color: var(--branco);
    margin: 1rem 0 1.5rem 0;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.icone {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
}